body {
    animation: change-color 7s infinite alternate;
}

@keyframes change-color {
    0% {
        background-color: beige;
    }

    50% {
        background-color: rgb(4, 2, 2);
    }

    100% {
        background-color: rgb(255, 221, 153);
    }
}


.title {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 2rem;
    animation: skew 2s infinite alternate;
}

@keyframes skew {
    0% {
        transform: skew(-3deg, -3deg);
    }

    100% {
        transform: skew(3deg, 3deg);
    }
}

.spin {
    width: 100px;
    margin: auto;
    display: flex;
    text-align: center;
    animation: spin 2s infinite alternate;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
        mix-blend-mode: normal;
    }

    100% {
        transform: rotate(2000deg);
        mix-blend-mode: overlay;
    }
}


.square {
    background-color: #ffe262;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin: 10px auto;
    transition: all 0.5s;
}

.square:hover {
    background-color: aquamarine;
    transform: rotate(30deg);
}

/* Classes used for group, tags for one element */

.button-div {
    text-align: center;
}

.button {
    color: rgb(255, 242, 158);
    background-color: rgb(0, 0, 0);
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    margin: 50px auto;
    display: inline-block;
    transition: all .5s;
}

.button:hover {
    background-color: #2e3d38;
    color: rgb(255, 0, 0);
    transform: scale(1.5);
}

.loading {
    background-color: #ffe262;
    animation: stretch 5s infinite alternate;
}

@keyframes stretch {
    0% {
        width: 100px;
    }

    100% {
        width: 80vw;
    }
}

.pizza-time {
    width: 100px;
    margin: auto;
    display:grid;
    text-align: center;
    transition: all 30s;
}

.pizza-time:hover {
    transform: translate(0px, 8000px);

}

.dialogue {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

.starting-line {
    width: 100vw;
    height: 3rem;
}