.title {
    font-family:'Courier New', Courier, monospace;
    text-align: center;

}

.square {
    background-color: #ffe262;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin: 50px auto;
    transition: all 0.5s;
}

.square:hover{
    background-color: aquamarine;
    transform: rotate(30deg);
}
/* Classes used for group, tags for one element */

.button-div {
    text-align: center;
}

.button {
    color: rgb(255, 242, 158);
    background-color: rgb(0, 0, 0);
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    margin: 50px auto;
    display: inline-block;
    transition: all .5s;
}

.button:hover{
    background-color: #2e3d38;
    color: rgb(255, 0, 0);
    transform: scale(1.5);
}