/* -------------------------color pallette */

/*
old

background color 1: #fff
background color 2: #fff1ec
font: #111
accent 1: #f09ebf
accent 2: #ffdab9
dark: #333
*/

/*
new
*/

:root {
    --bg-color-1: #fff4f0;
    --bg-color-2: #ffeee2;
    --font: #141414;
    --accent-1: #FF5A3D;
    --accent-2: #FF863D;
    --accent-3: #FFB683;
    --dark: #141414;
}







/* ------------------------CSS resets */

* {
    margin: 0;
    padding: 0;

}

/* respect user font size preferences */
/* 1 rem means 12 pixels */

html {
    font-size: 100%;
}

/* --------------------------- General CSS */

html {
    scroll-behavior: smooth;
}

body {
    /* background-image: url(../images/noise.jpg); */
    background-color: var(--bg-color-1);
    color: var(--font);
    font-family: "Lora", serif;
    font-size: 1.3rem;
    line-height: 1.5;
}

@media (max-width: 600px) {
    body {
        font-size: 1rem;
    }
}

header {
    padding: 4rem;
    margin-bottom: 3rem;
    background: #FFF4F0;
    background: linear-gradient(0deg, rgba(255, 244, 240, 1) 0%, #ffe1c2 22%, rgba(255, 134, 61, 1) 73%, rgba(255, 90, 61, 1) 90%, rgba(245, 51, 68, 1) 100%);
    text-align: center;
}

@media (max-width: 600px) {
    header {
        padding: 2rem;
        margin-bottom: 1rem;
    }
}

header h1 {
    font-size: 2rem;
    text-decoration: underline;
    text-decoration-style:solid;
    text-decoration-color: var(--accent-2);
    font-family: "Lexend Deca", sans-serif;
}

nav {
    position: absolute;
    right: 3rem;
    top: 2rem;
}

@media (max-width: 600px) {
    nav {
        position: initial;
        right: 0;
        top: 2rem;
        text-align: center;
    }
}

nav a {
    text-decoration: none;
    color: black;
    display: inline-block;
    margin: 0 1rem;
    transition: all 0.2s ease;
}

@media (max-width: 600px) {
    nav a {
        margin: 0 0.5rem;
    }
}

nav a:hover {
    color: var(--font);
    background-color: var(--accent-2);
    transform: scale(1.02);
}

main {
    margin: 0;
}

@media (max-width: 900px) {
    main {
        margin: 2.5rem;
    }
}

@media (max-width: 600px) {
    main {
        margin: 1.3rem;
    }
}

.about-section,
.portfolio-section,
.contact-section {
    padding-bottom: 1rem;

}

.about-content,
.portfolio-content,
.contact-content {
    max-width: 50rem;
    margin: 2rem auto;
}

.about-content h2,
.portfolio-content h2,
.contact-content h2 {
    font-size: 1.5rem;
    display: inline-block;
    margin: 2rem 0rem 2rem 0rem;
    padding: 0.1rem 1rem 0.1rem 1rem;
    background: linear-gradient(0deg, rgba(255, 244, 240, 1) 0%, rgba(255, 225, 194, 1) 60%, rgba(255, 134, 61, 1) 200%);
    border-radius: 0.6rem;
    box-shadow: 0 4px 6px var(--accent-3);
}


.portfolio-item {
    margin-bottom: 5rem;
    background-color: var(--bg-color-1);
    padding: 4rem;
    text-align: center;
    /* border: 2px black; */
    border-style: solid;
    border-width: 2px;
    border-color: var(--accent-3);
    border-radius: 1rem;
    box-shadow: 0 4px 6px var(--accent-3);
}

@media (max-width:800px) {
    .portfolio-item {
        padding: 3rem;
    }
}

@media (max-width:600px) {
    .portfolio-item {
        padding: 2rem;
    }
}


.portfolio-item img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    border-radius: 1.5rem;
}

.portfolio-item h3 {
    margin: 1rem 0;
}

.portfolio-item p {
    font-size: 1.4rem;
}

.about-section {
    /* background-color: #ffffff; */
}

.portfolio-section {
    background-color: var(--bg-color-2);
}

.portfolio-item {
    background-color: #fcfcfc;
}

footer {
    background-color: var(--dark);
    color: #eee;
    padding: 2rem;
    text-align: end;
}

footer p {
    font-size: 1rem;
}




/* sytle classes */

.accent-1 {
    color: var(--accent-1);
}

.accent-2 {
    color: var(--accent-2);
}