html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    background-color: #9294cc;
    background-image: url(/images/sky.gif);
    background-blend-mode: overlay;
}
