/* -------------------------color pallette */

/*
old

background color 1: #fff
background color 2: #fff1ec
font: #111
accent 1: #f09ebf
accent 2: #ffdab9
dark: #333
*/

/*
new
*/

:root {
    --bg-color-1: #FEFFE7;
    --bg-color-2: #ffeee2;
    --font: #150803;
    --accent-1: #ffad2a;
    --accent-2: #ffab3d;
    --accent-3: #fa862e;
    --accent-4: #ffeab8;
    --dark: #2a1508;
    --shadow:
        0 1px var(--accent-3),
        -1px 0 var(--accent-1),
        -1px 2px var(--accent-3),
        -2px 1px var(--accent-1),
        -2px 3px var(--accent-3),
        -3px 2px var(--accent-1),
        -3px 4px var(--accent-3),
        -4px 3px var(--accent-1),
        -4px 5px var(--accent-3),
        -5px 4px var(--accent-1),
        -5px 6px var(--accent-3),
        -6px 5px var(--accent-1),
        -6px 7px var(--accent-3),
        -7px 6px var(--accent-1),
        -7px 8px var(--accent-3),
        -8px 7px var(--accent-1),
        2px 2px 2px rgb(255, 165, 109);
}







/* ------------------------CSS resets */

* {
    margin: 0;
    padding: 0;

}

/* Change box-sizing default to border-box */
*,
*::before,
*::after {
    box-sizing: border-box;
}


/* respect user font size preferences */
/* 1 rem means 12 pixels */

html {
    font-size: 100%;
}

/* make images responsive */

img {
    display: block;
    max-width: 100%;
}

/* --------------------------- General CSS */

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color-1);
    color: var(--font);
    font-size: 1.5rem;
    line-height: 1.5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* text-align: justify; */
}

header {
    padding: 4rem 3rem;
    background: linear-gradient(0deg, var(--bg-color-1) 0%, var(--accent-2) 73%, var(--accent-1) 100%);
    margin-bottom: 5rem;
}

header h1 {
    color: #FEFFE7;
    text-shadow: var(--shadow)
}

nav a {
    text-decoration: none;
    color: var(--bg-color-1);
    text-shadow: var(--shadow);
    /* margin: 0 1rem;
    transition: all .1s ease; */
}

nav a:hover {
    color: var(--accent-3);
}

.nav-brand a :hover {
    color:var(--accent-4);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger {
    display: none;
    background: none;
    border: none;
    color: var(--bg-color-1);
    text-shadow: var(--shadow);
    font-size: 3rem;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 1rem;
}

@media (max-width: 700px) {
    .navbar {
        align-items: flex-start;
    }

    .nav {
        display: flex;
        flex-direction: column;
    }

    .hamburger {
        display: block;
        align-self: flex-end;
        transform: translateY(9px);
    }

    .nav-menu {
        display: none;
    }

    .nav-menu.active {
        display: flex;
        flex-direction: column;
        background-color: #fa862e34;
        border-radius: 1.2rem;
        padding: 1rem;
    }

    .nav-menu a {
        color: var(--bg-color-1);
        text-shadow: var(--shadow)
    }

    header {
        padding: 1.5rem 2rem;

    }
}

@media (max-width: 600px) {
    .about-content p {
        font-size: 1.2rem;
    }
}

main {
    margin: 0;
}

@media (max-width: 1060px) {
    main {
        margin: 2rem;
    }
}

@media (max-width: 850px) {
    main {
        margin: 1rem;
    }
}

.about-content,
.portfolio-content,
.contact-content,
.project-content {
    max-width: 60rem;
    margin: 0rem auto 7rem auto;
}

.about-content h2,
.portfolio-content h2,
.contact-content h2,
.project-content h2 {
    margin: 2rem 0;
}

.contact-content a {
    text-decoration: none;
    color: #1d0294;
}


/* project content is for project pages only */
.project-content {
    text-align: justify;
}

.project-content img {
    margin: 0, auto;
    padding: 2rem;
}

.project-content p {
    padding: 1rem;
}

.project-item {
    margin: 0, auto;
    padding: 2rem;
}

.portfolio-item {
    padding: 1.3rem;
    background-color: var(--font);
    color: var(--bg-color-1);
    transition: all 0.1s ease-in-out;
}

.portfolio-item:hover {
    transform: scale(102%);
}

.portfolio-item img {
    border-radius: 0.15rem;
}

.portfolio-item h3 {
    font-size: 1.3rem;
    margin: 0.3rem 0;
}

.portfolio-item a {
    text-decoration: none;
    color: var(--bg-color-1);
}

.portfolio-item p {
    font-size: 1.1rem;
}


/* ~~footer~~``````````````````````` */

footer {
    font-size: 1.4rem;
    padding: 1rem 2rem;
}


footer img {
    display: inline;
    max-width: 2.5rem;
    margin: 0 .5rem;
    transition: all;
}

footer img:hover {
    transform: scale(108%);
}

@media (max-width: 700px) {
    footer p {
        font-size: 1rem;
    }

    footer img {
        max-width: 2rem;
    }
}

@media (max-width: 450px) {
    footer {
        font-size: 0.8rem;
    }

    footer img {
        max-width: 1.5rem;
        margin: 0.1rem;
    }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~ flex styling ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-container-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    align-items: stretch;
}

.flex-item-grid {
    flex: 1 0 18.6rem;
}








/* ~~~~~~~~~ extra page styling ~~~~~~~~~~~ */

.polaroid img {
    border: var(--corner) solid;
    border-image-source:
        radial-gradient(closest-side, transparent 70%, var(--bg) 70%);
    border-image-slice: 49%;
}