/* -------------------------color pallette */

/*
old

background color 1: #fff
background color 2: #fff1ec
font: #111
accent 1: #f09ebf
accent 2: #ffdab9
dark: #333
*/

/*
new
*/

:root {
    --bg-color-1: #FEFFE7;
    --bg-color-2: #beab84;
    --font: #150803;
    --accent-1: #ffad2a;
    --accent-2: #ffab3d;
    --accent-3: #fa862e;
    --accent-4: #ffeab8;
    --dark: #131010;
    --shadow:
        0 1px var(--accent-3),
        -1px 0 var(--accent-1),
        -1px 2px var(--accent-3),
        -2px 1px var(--accent-1),
        -2px 3px var(--accent-3),
        -3px 2px var(--accent-1),
        -3px 4px var(--accent-3),
        -4px 3px var(--accent-1),
        -4px 5px var(--accent-3),
        -5px 4px var(--accent-1),
        -5px 6px var(--accent-3),
        -6px 5px var(--accent-1),
        -6px 7px var(--accent-3),
        -7px 6px var(--accent-1),
        -7px 8px var(--accent-3),
        -8px 7px var(--accent-1),
        2px 2px 2px rgb(255, 165, 109);
    --background: linear-gradient(0deg, rgba(255, 225, 168, 1) 0%, rgba(253, 250, 226, 1) 5%, rgba(254, 255, 231, 1) 100%);
}







/* ------------------------CSS resets */

* {
    margin: 0;
    padding: 0;

}

/* Change box-sizing default to border-box */
*,
*::before,
*::after {
    box-sizing: border-box;
}


/* respect user font size preferences */
/* 1 rem means 12 pixels */

html {
    font-size: 100%;
}

/* make images responsive */

img {
    display: block;
    max-width: 100%;
}

/* --------------------------- General CSS */

html {
    scroll-behavior: smooth;
}

body {
    background: var(--background);
    color: var(--font);
    font-size: 1.5rem;
    line-height: 1.5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* text-align: justify; */
}

header {
    padding: 4rem 3rem;
    background: linear-gradient(0deg, var(--bg-color-1) 0%, var(--accent-2) 73%, var(--accent-1) 100%);
    margin-bottom: 2rem;
}

header h1 {
    color: #FEFFE7;
    text-shadow: var(--shadow)
}

nav a {
    text-decoration: none;
    color: var(--bg-color-1);
    text-shadow: var(--shadow);
    transition: all .1s ease;
}

nav a:hover {
    color: var(--accent-3);
}

.nav-brand a :hover {
    color: var(--accent-4);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger {
    display: none;
    background: none;
    border: none;
    color: var(--bg-color-1);
    text-shadow: var(--shadow);
    font-size: 3rem;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 1rem;
}

@media (max-width: 700px) {
    .navbar {
        align-items: flex-start;
    }

    .nav {
        display: flex;
        flex-direction: column;
    }

    .hamburger {
        display: block;
        align-self: flex-end;
        transform: translateY(9px);
    }

    .nav-menu {
        display: none;
    }

    .nav-menu.active {
        display: flex;
        flex-direction: column;
        background-color: #fa862e34;
        border-radius: 1.2rem;
        padding: 1rem;
    }

    .nav-menu a {
        color: var(--bg-color-1);
        text-shadow: var(--shadow)
    }

    header {
        padding: 1.5rem 2rem;

    }
}

@media (max-width: 600px) {
    .about-content p {
        font-size: 1.2rem;
    }
}

main {
    margin: 0;
}

@media (max-width: 1060px) {
    main {
        margin: 2rem;
    }
}

@media (max-width: 850px) {
    main {
        margin: 1rem;
    }
}

.about-content,
.portfolio-content,
.contact-content,
.project-content {
    max-width: 60rem;
    margin: 0rem auto 7rem auto;
}

.about-content h2,
.portfolio-content h2,
.contact-content h2,
.project-content h2 {
    font-size: 2rem;
    color: var(--font);
    display: inline-block;
    margin: 2rem 0;
    padding: 0.1rem 1rem 0.1rem 1rem;
    background: linear-gradient(0deg, var(--bg-color-1) 0%, var(--accent-4) 60%, var(--accent-1) 200%);
	clip-path: shape(from 4.29px 1.79px,curve to calc(1.72% + 4.83px) 2.5px with calc(0% + 5px) 0px,curve to calc(5.17% + 4.48px) 3.5px with calc(3.45% + 4.66px) 5px,curve to calc(8.62% + 4.14px) 1.5px with calc(6.9% + 4.31px) 2px,curve to calc(12.07% + 3.79px) 0.5px with calc(10.34% + 3.97px) 1px,curve to calc(15.52% + 3.45px) 2px with calc(13.79% + 3.62px) 0px,curve to calc(18.97% + 3.1px) 2.5px with calc(17.24% + 3.28px) 4px,curve to calc(22.41% + 2.76px) 2px with calc(20.69% + 2.93px) 1px,curve to calc(25.86% + 2.41px) 1.5px with calc(24.14% + 2.59px) 3px,curve to calc(29.31% + 2.07px) 0.5px with calc(27.59% + 2.24px) 0px,curve to calc(32.76% + 1.72px) 2.5px with calc(31.03% + 1.9px) 1px,curve to calc(36.21% + 1.38px) 3px with calc(34.48% + 1.55px) 4px,curve to calc(39.66% + 1.03px) 2.5px with calc(37.93% + 1.21px) 2px,curve to calc(43.1% + 0.69px) 2.5px with calc(41.38% + 0.86px) 3px,curve to calc(46.55% + 0.34px) 2.5px with calc(44.83% + 0.52px) 2px,curve to calc(50% + 0px) 2.5px with calc(48.28% + 0.17px) 3px,curve to calc(53.45% + -0.34px) 3px with calc(51.72% + -0.17px) 2px,curve to calc(56.9% + -0.69px) 4px with calc(55.17% + -0.52px) 4px,curve to calc(60.34% + -1.03px) 4px with calc(58.62% + -0.86px) 4px,curve to calc(63.79% + -1.38px) 4.5px with calc(62.07% + -1.21px) 4px,curve to calc(67.24% + -1.72px) 3px with calc(65.52% + -1.55px) 5px,curve to calc(70.69% + -2.07px) 1px with calc(68.97% + -1.9px) 1px,curve to calc(74.14% + -2.41px) 2.5px with calc(72.41% + -2.24px) 1px,curve to calc(77.59% + -2.76px) 4px with calc(75.86% + -2.59px) 4px,curve to calc(81.03% + -3.1px) 3px with calc(79.31% + -2.93px) 4px,curve to calc(84.48% + -3.45px) 2.5px with calc(82.76% + -3.28px) 2px,curve to calc(87.93% + -3.79px) 4px with calc(86.21% + -3.62px) 3px,curve to calc(91.38% + -4.14px) 4.5px with calc(89.66% + -3.97px) 5px,curve to calc(94.83% + -4.48px) 4px with calc(93.1% + -4.31px) 4px,curve to calc(98.28% + -4.83px) 3px with calc(96.55% + -4.66px) 4px,curve to calc(100% - 4.29px) 2.79px with calc(100% - 5px) 2px,curve to calc(100% - 2.29px) 4.29px with calc(100% - 3.59px) 3.59px,curve to calc(100% - 0.5px) calc(2.63% + 4.74px) with calc(100% - 1px) calc(0% + 5px),curve to calc(100% - 1px) calc(7.89% + 4.21px) with calc(100% - 0px) calc(5.26% + 4.47px),curve to calc(100% - 1.5px) calc(13.16% + 3.68px) with calc(100% - 2px) calc(10.53% + 3.95px),curve to calc(100% - 1px) calc(18.42% + 3.16px) with calc(100% - 1px) calc(15.79% + 3.42px),curve to calc(100% - 2px) calc(23.68% + 2.63px) with calc(100% - 1px) calc(21.05% + 2.89px),curve to calc(100% - 2px) calc(28.95% + 2.11px) with calc(100% - 3px) calc(26.32% + 2.37px),curve to calc(100% - 2px) calc(34.21% + 1.58px) with calc(100% - 1px) calc(31.58% + 1.84px),curve to calc(100% - 2px) calc(39.47% + 1.05px) with calc(100% - 3px) calc(36.84% + 1.32px),curve to calc(100% - 1.5px) calc(44.74% + 0.53px) with calc(100% - 1px) calc(42.11% + 0.79px),curve to calc(100% - 2px) calc(50% + 0.00px) with calc(100% - 2px) calc(47.37% + 0.26px),curve to calc(100% - 1.5px) calc(55.26% + -0.53px) with calc(100% - 2px) calc(52.63% + -0.26px),curve to calc(100% - 2.5px) calc(60.53% + -1.05px) with calc(100% - 1px) calc(57.89% + -0.79px),curve to calc(100% - 2.5px) calc(65.79% + -1.58px) with calc(100% - 4px) calc(63.16% + -1.32px),curve to calc(100% - 1px) calc(71.05% + -2.11px) with calc(100% - 1px) calc(68.42% + -1.84px),curve to calc(100% - 1px) calc(76.32% + -2.63px) with calc(100% - 1px) calc(73.68% + -2.37px),curve to calc(100% - 2.5px) calc(81.58% + -3.16px) with calc(100% - 1px) calc(78.95% + -2.89px),curve to calc(100% - 3.5px) calc(86.84% + -3.68px) with calc(100% - 4px) calc(84.21% + -3.42px),curve to calc(100% - 2px) calc(92.11% + -4.21px) with calc(100% - 3px) calc(89.47% + -3.95px),curve to calc(100% - 1px) calc(97.37% + -4.74px) with calc(100% - 1px) calc(94.74% + -4.47px),curve to calc(100% - 1.23px) calc(100% - 3.23px) with calc(100% - 1px) calc(100% - 5px),curve to calc(100% - 3.23px) calc(100% - 0.73px) with calc(100% - 1.46px) calc(100% - 1.46px),curve to calc(98.28% - 4.83px) calc(100% - 2px) with calc(100% - 5px) calc(100% - 0px),curve to calc(94.83% - 4.48px) calc(100% - 2.5px) with calc(96.55% - 4.66px) calc(100% - 4px),curve to calc(91.38% - 4.14px) calc(100% - 1px) with calc(93.1% - 4.31px) calc(100% - 1px),curve to calc(87.93% - 3.79px) calc(100% - 3px) with calc(89.66% - 3.97px) calc(100% - 1px),curve to calc(84.48% - 3.45px) calc(100% - 3px) with calc(86.21% - 3.62px) calc(100% - 5px),curve to calc(81.03% - 3.1px) calc(100% - 3px) with calc(82.76% - 3.28px) calc(100% - 1px),curve to calc(77.59% - 2.76px) calc(100% - 3px) with calc(79.31% - 2.93px) calc(100% - 5px),curve to calc(74.14% - 2.41px) calc(100% - 2px) with calc(75.86% - 2.59px) calc(100% - 1px),curve to calc(70.69% - 2.07px) calc(100% - 2px) with calc(72.41% - 2.24px) calc(100% - 3px),curve to calc(67.24% - 1.72px) calc(100% - 2.5px) with calc(68.97% - 1.9px) calc(100% - 1px),curve to calc(63.79% - 1.38px) calc(100% - 3.5px) with calc(65.52% - 1.55px) calc(100% - 4px),curve to calc(60.34% - 1.03px) calc(100% - 3px) with calc(62.07% - 1.21px) calc(100% - 3px),curve to calc(56.9% - 0.69px) calc(100% - 3.5px) with calc(58.62% - 0.86px) calc(100% - 3px),curve to calc(53.45% - 0.34px) calc(100% - 3.5px) with calc(55.17% - 0.52px) calc(100% - 4px),curve to calc(50% - 0px) calc(100% - 3px) with calc(51.72% - 0.17px) calc(100% - 3px),curve to calc(46.55% - -0.34px) calc(100% - 3.5px) with calc(48.28% - -0.17px) calc(100% - 3px),curve to calc(43.1% - -0.69px) calc(100% - 3px) with calc(44.83% - -0.52px) calc(100% - 4px),curve to calc(39.66% - -1.03px) calc(100% - 1.5px) with calc(41.38% - -0.86px) calc(100% - 2px),curve to calc(36.21% - -1.38px) calc(100% - 1px) with calc(37.93% - -1.21px) calc(100% - 1px),curve to calc(32.76% - -1.72px) calc(100% - 0.5px) with calc(34.48% - -1.55px) calc(100% - 1px),curve to calc(29.31% - -2.07px) calc(100% - 1.5px) with calc(31.03% - -1.9px) calc(100% - 0px),curve to calc(25.86% - -2.41px) calc(100% - 2.5px) with calc(27.59% - -2.24px) calc(100% - 3px),curve to calc(22.41% - -2.76px) calc(100% - 2px) with calc(24.14% - -2.59px) calc(100% - 2px),curve to calc(18.97% - -3.1px) calc(100% - 1px) with calc(20.69% - -2.93px) calc(100% - 2px),curve to calc(15.52% - -3.45px) calc(100% - 1px) with calc(17.24% - -3.28px) calc(100% - 0px),curve to calc(12.07% - -3.79px) calc(100% - 2px) with calc(13.79% - -3.62px) calc(100% - 2px),curve to calc(8.62% - -4.14px) calc(100% - 1.5px) with calc(10.34% - -3.97px) calc(100% - 2px),curve to calc(5.17% - -4.48px) calc(100% - 1px) with calc(6.9% - -4.31px) calc(100% - 1px),curve to calc(1.72% - -4.83px) calc(100% - 0.5px) with calc(3.45% - -4.66px) calc(100% - 1px),curve to 4.65px calc(100% - 2.15px) with 5px calc(100% - 0px),curve to 3.65px calc(100% - 4.65px) with 4.29px calc(100% - 4.29px),curve to 1.5px calc(97.37% - 4.74px) with 3px calc(100% - 5px),curve to 0px calc(92.11% - 4.21px) with 0px calc(94.74% - 4.47px),curve to 2px calc(86.84% - 3.68px) with 0px calc(89.47% - 3.95px),curve to 2.5px calc(81.58% - 3.16px) with 4px calc(84.21% - 3.42px),curve to 2.5px calc(76.32% - 2.63px) with 1px calc(78.95% - 2.89px),curve to 3.5px calc(71.05% - 2.11px) with 4px calc(73.68% - 2.37px),curve to 3px calc(65.79% - 1.58px) with 3px calc(68.42% - 1.84px),curve to 3.5px calc(60.53% - 1.05px) with 3px calc(63.16% - 1.32px),curve to 3px calc(55.26% - 0.53px) with 4px calc(57.89% - 0.79px),curve to 1px calc(50% - 0px) with 2px calc(52.63% - 0.26px),curve to 0px calc(44.74% - -0.53px) with 0px calc(47.37% - -0.26px),curve to 2px calc(39.47% - -1.05px) with 0px calc(42.11% - -0.79px),curve to 3.5px calc(34.21% - -1.58px) with 4px calc(36.84% - -1.32px),curve to 4px calc(28.95% - -2.11px) with 3px calc(31.58% - -1.84px),curve to 3.5px calc(23.68% - -2.63px) with 5px calc(26.32% - -2.37px),curve to 2px calc(18.42% - -3.16px) with 2px calc(21.05% - -2.89px),curve to 1px calc(13.16% - -3.68px) with 2px calc(15.79% - -3.42px),curve to 2.5px calc(7.89% - -4.21px) with 0px calc(10.53% - -3.95px),curve to 4.5px calc(2.63% - -4.74px) with 5px calc(5.26% - -4.47px),curve to 3.79px 4.29px with 4px 5px,curve to 4.29px 1.79px with 3.59px 3.59px);
    border-radius: 0.6rem;
    box-shadow: 0 4px 6px var(--accent-1);
}


.about-content p {
    font-size: 1.2rem;
    text-align: justify;
}

.contact-content a {
    text-decoration: none;
    color: #1d0294;
}


/* project content is for project pages only */
.project-content {
    text-align: justify;
}

.project-content p {
    padding: 1rem;
}

.project-item {
    margin: 0, auto;
    padding: 2rem;
}

.project-item img {
    margin: 0, auto;
    padding: 2rem;
    transition: all 0.1s ease;
}

.project-item img:hover {
    transform: scale(100.5%);
}


/* end of project content */



.portfolio-item {
    padding: 1.3rem;
    background-color: var(--accent-4);
    transition: transform 0.1s ease-in-out;
    background: linear-gradient(0deg, var(--bg-color-1) 0%, var(--accent-4) 60%, var(--accent-1) 200%);
    clip-path: shape(from 7.17px 3.67px, curve to calc(1.72% + 9.66px) 1.5px with calc(0% + 10px) 3px, curve to calc(5.17% + 8.97px) 4px with calc(3.45% + 9.31px) 0px, curve to calc(8.62% + 8.28px) 7px with calc(6.9% + 8.62px) 8px, curve to calc(12.07% + 7.59px) 4px with calc(10.34% + 7.93px) 6px, curve to calc(15.52% + 6.9px) 2.5px with calc(13.79% + 7.24px) 2px, curve to calc(18.97% + 6.21px) 3.5px with calc(17.24% + 6.55px) 3px, curve to calc(22.41% + 5.52px) 6.5px with calc(20.69% + 5.86px) 4px, curve to calc(25.86% + 4.83px) 9px with calc(24.14% + 5.17px) 9px, curve to calc(29.31% + 4.14px) 6px with calc(27.59% + 4.48px) 9px, curve to calc(32.76% + 3.45px) 5.5px with calc(31.03% + 3.79px) 3px, curve to calc(36.21% + 2.76px) 7.5px with calc(34.48% + 3.1px) 8px, curve to calc(39.66% + 2.07px) 7px with calc(37.93% + 2.41px) 7px, curve to calc(43.1% + 1.38px) 4px with calc(41.38% + 1.72px) 7px, curve to calc(46.55% + 0.69px) 3.5px with calc(44.83% + 1.03px) 1px, curve to calc(50% + 0px) 4px with calc(48.28% + 0.34px) 6px, curve to calc(53.45% + -0.69px) 4px with calc(51.72% + -0.34px) 2px, curve to calc(56.9% + -1.38px) 4.5px with calc(55.17% + -1.03px) 6px, curve to calc(60.34% + -2.07px) 6px with calc(58.62% + -1.72px) 3px, curve to calc(63.79% + -2.76px) 9px with calc(62.07% + -2.41px) 9px, curve to calc(67.24% + -3.45px) 7.5px with calc(65.52% + -3.1px) 9px, curve to calc(70.69% + -4.14px) 5px with calc(68.97% + -3.79px) 6px, curve to calc(74.14% + -4.83px) 5px with calc(72.41% + -4.48px) 4px, curve to calc(77.59% + -5.52px) 4.5px with calc(75.86% + -5.17px) 6px, curve to calc(81.03% + -6.21px) 4.5px with calc(79.31% + -5.86px) 3px, curve to calc(84.48% + -6.9px) 5.5px with calc(82.76% + -6.55px) 6px, curve to calc(87.93% + -7.59px) 7.5px with calc(86.21% + -7.24px) 5px, curve to calc(91.38% + -8.28px) 8px with calc(89.66% + -7.93px) 10px, curve to calc(94.83% + -8.97px) 4px with calc(93.1% + -8.62px) 6px, curve to calc(98.28% + -9.66px) 4.5px with calc(96.55% + -9.31px) 2px, curve to calc(100% - 9.65px) 8.15px with calc(100% - 10px) 7px, curve to calc(100% - 8.15px) 9.65px with calc(100% - 9.29px) 9.29px, curve to calc(100% - 8.5px) calc(2.63% + 9.47px) with calc(100% - 7px) calc(0% + 10px), curve to calc(100% - 5.5px) calc(7.89% + 8.42px) with calc(100% - 10px) calc(5.26% + 8.95px), curve to calc(100% - 5px) calc(13.16% + 7.37px) with calc(100% - 1px) calc(10.53% + 7.89px), curve to calc(100% - 6.5px) calc(18.42% + 6.32px) with calc(100% - 9px) calc(15.79% + 6.84px), curve to calc(100% - 5px) calc(23.68% + 5.26px) with calc(100% - 4px) calc(21.05% + 5.79px), curve to calc(100% - 5.5px) calc(28.95% + 4.21px) with calc(100% - 6px) calc(26.32% + 4.74px), curve to calc(100% - 3px) calc(34.21% + 3.16px) with calc(100% - 5px) calc(31.58% + 3.68px), curve to calc(100% - 2px) calc(39.47% + 2.11px) with calc(100% - 1px) calc(36.84% + 2.63px), curve to calc(100% - 4px) calc(44.74% + 1.05px) with calc(100% - 3px) calc(42.11% + 1.58px), curve to calc(100% - 6px) calc(50% + 0.00px) with calc(100% - 5px) calc(47.37% + 0.53px), curve to calc(100% - 8.5px) calc(55.26% + -1.05px) with calc(100% - 7px) calc(52.63% + -0.53px), curve to calc(100% - 9px) calc(60.53% + -2.11px) with calc(100% - 10px) calc(57.89% + -1.58px), curve to calc(100% - 7px) calc(65.79% + -3.16px) with calc(100% - 8px) calc(63.16% + -2.63px), curve to calc(100% - 3px) calc(71.05% + -4.21px) with calc(100% - 6px) calc(68.42% + -3.68px), curve to calc(100% - 1px) calc(76.32% + -5.26px) with calc(100% - 0px) calc(73.68% + -4.74px), curve to calc(100% - 1.5px) calc(81.58% + -6.32px) with calc(100% - 2px) calc(78.95% + -5.79px), curve to calc(100% - 4px) calc(86.84% + -7.37px) with calc(100% - 1px) calc(84.21% + -6.84px), curve to calc(100% - 5.5px) calc(92.11% + -8.42px) with calc(100% - 7px) calc(89.47% + -7.89px), curve to calc(100% - 6.5px) calc(97.37% + -9.47px) with calc(100% - 4px) calc(94.74% + -8.95px), curve to calc(100% - 7.73px) calc(100% - 8.23px) with calc(100% - 9px) calc(100% - 10px), curve to calc(100% - 8.23px) calc(100% - 7.23px) with calc(100% - 6.46px) calc(100% - 6.46px), curve to calc(98.28% - 9.66px) calc(100% - 5.5px) with calc(100% - 10px) calc(100% - 8px), curve to calc(94.83% - 8.97px) calc(100% - 6px) with calc(96.55% - 9.31px) calc(100% - 3px), curve to calc(91.38% - 8.28px) calc(100% - 9px) with calc(93.1% - 8.62px) calc(100% - 9px), curve to calc(87.93% - 7.59px) calc(100% - 5.5px) with calc(89.66% - 7.93px) calc(100% - 9px), curve to calc(84.48% - 6.9px) calc(100% - 2.5px) with calc(86.21% - 7.24px) calc(100% - 2px), curve to calc(81.03% - 6.21px) calc(100% - 4.5px) with calc(82.76% - 6.55px) calc(100% - 3px), curve to calc(77.59% - 5.52px) calc(100% - 4.5px) with calc(79.31% - 5.86px) calc(100% - 6px), curve to calc(74.14% - 4.83px) calc(100% - 4px) with calc(75.86% - 5.17px) calc(100% - 3px), curve to calc(70.69% - 4.14px) calc(100% - 3px) with calc(72.41% - 4.48px) calc(100% - 5px), curve to calc(67.24% - 3.45px) calc(100% - 4.5px) with calc(68.97% - 3.79px) calc(100% - 1px), curve to calc(63.79% - 2.76px) calc(100% - 6px) with calc(65.52% - 3.1px) calc(100% - 8px), curve to calc(60.34% - 2.07px) calc(100% - 5px) with calc(62.07% - 2.41px) calc(100% - 4px), curve to calc(56.9% - 1.38px) calc(100% - 6.5px) with calc(58.62% - 1.72px) calc(100% - 6px), curve to calc(53.45% - 0.69px) calc(100% - 4px) with calc(55.17% - 1.03px) calc(100% - 7px), curve to calc(50% - 0px) calc(100% - 1px) with calc(51.72% - 0.34px) calc(100% - 1px), curve to calc(46.55% - -0.69px) calc(100% - 2.5px) with calc(48.28% - -0.34px) calc(100% - 1px), curve to calc(43.1% - -1.38px) calc(100% - 5.5px) with calc(44.83% - -1.03px) calc(100% - 4px), curve to calc(39.66% - -2.07px) calc(100% - 7px) with calc(41.38% - -1.72px) calc(100% - 7px), curve to calc(36.21% - -2.76px) calc(100% - 6px) with calc(37.93% - -2.41px) calc(100% - 7px), curve to calc(32.76% - -3.45px) calc(100% - 3px) with calc(34.48% - -3.1px) calc(100% - 5px), curve to calc(29.31% - -4.14px) calc(100% - 0.5px) with calc(31.03% - -3.79px) calc(100% - 1px), curve to calc(25.86% - -4.83px) calc(100% - 3px) with calc(27.59% - -4.48px) calc(100% - 0px), curve to calc(22.41% - -5.52px) calc(100% - 5px) with calc(24.14% - -5.17px) calc(100% - 6px), curve to calc(18.97% - -6.21px) calc(100% - 2.5px) with calc(20.69% - -5.86px) calc(100% - 4px), curve to calc(15.52% - -6.9px) calc(100% - 4.5px) with calc(17.24% - -6.55px) calc(100% - 1px), curve to calc(12.07% - -7.59px) calc(100% - 8px) with calc(13.79% - -7.24px) calc(100% - 8px), curve to calc(8.62% - -8.28px) calc(100% - 7.5px) with calc(10.34% - -7.93px) calc(100% - 8px), curve to calc(5.17% - -8.97px) calc(100% - 7.5px) with calc(6.9% - -8.62px) calc(100% - 7px), curve to calc(1.72% - -9.66px) calc(100% - 7.5px) with calc(3.45% - -9.31px) calc(100% - 8px), curve to 8.94px calc(100% - 7.44px) with 10px calc(100% - 7px), curve to 4.94px calc(100% - 8.94px) with 7.88px calc(100% - 7.88px), curve to 3px calc(97.37% - 9.47px) with 2px calc(100% - 10px), curve to 4px calc(92.11% - 8.42px) with 4px calc(94.74% - 8.95px), curve to 3px calc(86.84% - 7.37px) with 4px calc(89.47% - 7.89px), curve to 1px calc(81.58% - 6.32px) with 2px calc(84.21% - 6.84px), curve to 5px calc(76.32% - 5.26px) with 0px calc(78.95% - 5.79px), curve to 10px calc(71.05% - 4.21px) with 10px calc(73.68% - 4.74px), curve to 6.5px calc(65.79% - 3.16px) with 10px calc(68.42% - 3.68px), curve to 4px calc(60.53% - 2.11px) with 3px calc(63.16% - 2.63px), curve to 3px calc(55.26% - 1.05px) with 5px calc(57.89% - 1.58px), curve to 1px calc(50% - 0px) with 1px calc(52.63% - 0.53px), curve to 5px calc(44.74% - -1.05px) with 1px calc(47.37% - -0.53px), curve to 7px calc(39.47% - -2.11px) with 9px calc(42.11% - -1.58px), curve to 4px calc(34.21% - -3.16px) with 5px calc(36.84% - -2.63px), curve to 5.5px calc(28.95% - -4.21px) with 3px calc(31.58% - -3.68px), curve to 5px calc(23.68% - -5.26px) with 8px calc(26.32% - -4.74px), curve to 4.5px calc(18.42% - -6.32px) with 2px calc(21.05% - -5.79px), curve to 5px calc(13.16% - -7.37px) with 7px calc(15.79% - -6.84px), curve to 2.5px calc(7.89% - -8.42px) with 3px calc(10.53% - -7.89px), curve to 4px calc(2.63% - -9.47px) with 2px calc(5.26% - -8.95px), curve to 5.17px 7.17px with 6px 10px, curve to 7.17px 3.67px with 4.34px 4.34px);
    border-radius: 0.6rem;
    box-shadow: 0 4px 6px var(--accent-1);
}

.portfolio-item:hover {
    transform: scale(102%);
    clip-path: shape(from 6.46px 4.96px, curve to calc(1.72% + 9.66px) 8px with calc(0% + 10px) 7px, curve to calc(5.17% + 8.97px) 5.5px with calc(3.45% + 9.31px) 9px, curve to calc(8.62% + 8.28px) 4.5px with calc(6.9% + 8.62px) 2px, curve to calc(12.07% + 7.59px) 5px with calc(10.34% + 7.93px) 7px, curve to calc(15.52% + 6.9px) 3px with calc(13.79% + 7.24px) 3px, curve to calc(18.97% + 6.21px) 2.5px with calc(17.24% + 6.55px) 3px, curve to calc(22.41% + 5.52px) 4px with calc(20.69% + 5.86px) 2px, curve to calc(25.86% + 4.83px) 5.5px with calc(24.14% + 5.17px) 6px, curve to calc(29.31% + 4.14px) 7.5px with calc(27.59% + 4.48px) 5px, curve to calc(32.76% + 3.45px) 6px with calc(31.03% + 3.79px) 10px, curve to calc(36.21% + 2.76px) 2px with calc(34.48% + 3.1px) 2px, curve to calc(39.66% + 2.07px) 5.5px with calc(37.93% + 2.41px) 2px, curve to calc(43.1% + 1.38px) 5.5px with calc(41.38% + 1.72px) 9px, curve to calc(46.55% + 0.69px) 2.5px with calc(44.83% + 1.03px) 2px, curve to calc(50% + 0px) 1.5px with calc(48.28% + 0.34px) 3px, curve to calc(53.45% + -0.69px) 3.5px with calc(51.72% + -0.34px) 0px, curve to calc(56.9% + -1.38px) 5.5px with calc(55.17% + -1.03px) 7px, curve to calc(60.34% + -2.07px) 6px with calc(58.62% + -1.72px) 4px, curve to calc(63.79% + -2.76px) 5.5px with calc(62.07% + -2.41px) 8px, curve to calc(67.24% + -3.45px) 6px with calc(65.52% + -3.1px) 3px, curve to calc(70.69% + -4.14px) 8.5px with calc(68.97% + -3.79px) 9px, curve to calc(74.14% + -4.83px) 7px with calc(72.41% + -4.48px) 8px, curve to calc(77.59% + -5.52px) 4.5px with calc(75.86% + -5.17px) 6px, curve to calc(81.03% + -6.21px) 3px with calc(79.31% + -5.86px) 3px, curve to calc(84.48% + -6.9px) 5.5px with calc(82.76% + -6.55px) 3px, curve to calc(87.93% + -7.59px) 4.5px with calc(86.21% + -7.24px) 8px, curve to calc(91.38% + -8.28px) 5.5px with calc(89.66% + -7.93px) 1px, curve to calc(94.83% + -8.97px) 9.5px with calc(93.1% + -8.62px) 10px, curve to calc(98.28% + -9.66px) 8.5px with calc(96.55% + -9.31px) 9px, curve to calc(100% - 7.17px) 6.17px with calc(100% - 10px) 8px, curve to calc(100% - 2.67px) 7.17px with calc(100% - 4.34px) 4.34px, curve to calc(100% - 3px) calc(2.63% + 9.47px) with calc(100% - 1px) calc(0% + 10px), curve to calc(100% - 2.5px) calc(7.89% + 8.42px) with calc(100% - 5px) calc(5.26% + 8.95px), curve to calc(100% - 3px) calc(13.16% + 7.37px) with calc(100% - 0px) calc(10.53% + 7.89px), curve to calc(100% - 6px) calc(18.42% + 6.32px) with calc(100% - 6px) calc(15.79% + 6.84px), curve to calc(100% - 4px) calc(23.68% + 5.26px) with calc(100% - 6px) calc(21.05% + 5.79px), curve to calc(100% - 4.5px) calc(28.95% + 4.21px) with calc(100% - 2px) calc(26.32% + 4.74px), curve to calc(100% - 4px) calc(34.21% + 3.16px) with calc(100% - 7px) calc(31.58% + 3.68px), curve to calc(100% - 2px) calc(39.47% + 2.11px) with calc(100% - 1px) calc(36.84% + 2.63px), curve to calc(100% - 3px) calc(44.74% + 1.05px) with calc(100% - 3px) calc(42.11% + 1.58px), curve to calc(100% - 2.5px) calc(50% + 0.00px) with calc(100% - 3px) calc(47.37% + 0.53px), curve to calc(100% - 1.5px) calc(55.26% + -1.05px) with calc(100% - 2px) calc(52.63% + -0.53px), curve to calc(100% - 0.5px) calc(60.53% + -2.11px) with calc(100% - 1px) calc(57.89% + -1.58px), curve to calc(100% - 2px) calc(65.79% + -3.16px) with calc(100% - 0px) calc(63.16% + -2.63px), curve to calc(100% - 6px) calc(71.05% + -4.21px) with calc(100% - 4px) calc(68.42% + -3.68px), curve to calc(100% - 8px) calc(76.32% + -5.26px) with calc(100% - 8px) calc(73.68% + -4.74px), curve to calc(100% - 7px) calc(81.58% + -6.32px) with calc(100% - 8px) calc(78.95% + -5.79px), curve to calc(100% - 5.5px) calc(86.84% + -7.37px) with calc(100% - 6px) calc(84.21% + -6.84px), curve to calc(100% - 5.5px) calc(92.11% + -8.42px) with calc(100% - 5px) calc(89.47% + -7.89px), curve to calc(100% - 4.5px) calc(97.37% + -9.47px) with calc(100% - 6px) calc(94.74% + -8.95px), curve to calc(100% - 4.73px) calc(100% - 8.23px) with calc(100% - 3px) calc(100% - 10px), curve to calc(100% - 8.23px) calc(100% - 6.73px) with calc(100% - 6.46px) calc(100% - 6.46px), curve to calc(98.28% - 9.66px) calc(100% - 5.5px) with calc(100% - 10px) calc(100% - 7px), curve to calc(94.83% - 8.97px) calc(100% - 4px) with calc(96.55% - 9.31px) calc(100% - 4px), curve to calc(91.38% - 8.28px) calc(100% - 5px) with calc(93.1% - 8.62px) calc(100% - 4px), curve to calc(87.93% - 7.59px) calc(100% - 3px) with calc(89.66% - 7.93px) calc(100% - 6px), curve to calc(84.48% - 6.9px) calc(100% - 3.5px) with calc(86.21% - 7.24px) calc(100% - 0px), curve to calc(81.03% - 6.21px) calc(100% - 8.5px) with calc(82.76% - 6.55px) calc(100% - 7px), curve to calc(77.59% - 5.52px) calc(100% - 5px) with calc(79.31% - 5.86px) calc(100% - 10px), curve to calc(74.14% - 4.83px) calc(100% - 2.5px) with calc(75.86% - 5.17px) calc(100% - 0px), curve to calc(70.69% - 4.14px) calc(100% - 3px) with calc(72.41% - 4.48px) calc(100% - 5px), curve to calc(67.24% - 3.45px) calc(100% - 2px) with calc(68.97% - 3.79px) calc(100% - 1px), curve to calc(63.79% - 2.76px) calc(100% - 6px) with calc(65.52% - 3.1px) calc(100% - 3px), curve to calc(60.34% - 2.07px) calc(100% - 8px) with calc(62.07% - 2.41px) calc(100% - 9px), curve to calc(56.9% - 1.38px) calc(100% - 6.5px) with calc(58.62% - 1.72px) calc(100% - 7px), curve to calc(53.45% - 0.69px) calc(100% - 3px) with calc(55.17% - 1.03px) calc(100% - 6px), curve to calc(50% - 0px) calc(100% - 4.5px) with calc(51.72% - 0.34px) calc(100% - 0px), curve to calc(46.55% - -0.69px) calc(100% - 7.5px) with calc(48.28% - -0.34px) calc(100% - 9px), curve to calc(43.1% - -1.38px) calc(100% - 6.5px) with calc(44.83% - -1.03px) calc(100% - 6px), curve to calc(39.66% - -2.07px) calc(100% - 4.5px) with calc(41.38% - -1.72px) calc(100% - 7px), curve to calc(36.21% - -2.76px) calc(100% - 4px) with calc(37.93% - -2.41px) calc(100% - 2px), curve to calc(32.76% - -3.45px) calc(100% - 5.5px) with calc(34.48% - -3.1px) calc(100% - 6px), curve to calc(29.31% - -4.14px) calc(100% - 4px) with calc(31.03% - -3.79px) calc(100% - 5px), curve to calc(25.86% - -4.83px) calc(100% - 2px) with calc(27.59% - -4.48px) calc(100% - 3px), curve to calc(22.41% - -5.52px) calc(100% - 1px) with calc(24.14% - -5.17px) calc(100% - 1px), curve to calc(18.97% - -6.21px) calc(100% - 1px) with calc(20.69% - -5.86px) calc(100% - 1px), curve to calc(15.52% - -6.9px) calc(100% - 4px) with calc(17.24% - -6.55px) calc(100% - 1px), curve to calc(12.07% - -7.59px) calc(100% - 7px) with calc(13.79% - -7.24px) calc(100% - 7px), curve to calc(8.62% - -8.28px) calc(100% - 7.5px) with calc(10.34% - -7.93px) calc(100% - 7px), curve to calc(5.17% - -8.97px) calc(100% - 9px) with calc(6.9% - -8.62px) calc(100% - 8px), curve to calc(1.72% - -9.66px) calc(100% - 8.5px) with calc(3.45% - -9.31px) calc(100% - 10px), curve to 8.23px calc(100% - 6.73px) with 10px calc(100% - 7px), curve to 3.23px calc(100% - 8.23px) with 6.46px calc(100% - 6.46px), curve to 4.5px calc(97.37% - 9.47px) with 0px calc(100% - 10px), curve to 7px calc(92.11% - 8.42px) with 9px calc(94.74% - 8.95px), curve to 6.5px calc(86.84% - 7.37px) with 5px calc(89.47% - 7.89px), curve to 8.5px calc(81.58% - 6.32px) with 8px calc(84.21% - 6.84px), curve to 4.5px calc(76.32% - 5.26px) with 9px calc(78.95% - 5.79px), curve to 4.5px calc(71.05% - 4.21px) with 0px calc(73.68% - 4.74px), curve to 9.5px calc(65.79% - 3.16px) with 9px calc(68.42% - 3.68px), curve to 7.5px calc(60.53% - 2.11px) with 10px calc(63.16% - 2.63px), curve to 5.5px calc(55.26% - 1.05px) with 5px calc(57.89% - 1.58px), curve to 5px calc(50% - 0px) with 6px calc(52.63% - 0.53px), curve to 5.5px calc(44.74% - -1.05px) with 4px calc(47.37% - -0.53px), curve to 8.5px calc(39.47% - -2.11px) with 7px calc(42.11% - -1.58px), curve to 5px calc(34.21% - -3.16px) with 10px calc(36.84% - -2.63px), curve to 5px calc(28.95% - -4.21px) with 0px calc(31.58% - -3.68px), curve to 8px calc(23.68% - -5.26px) with 10px calc(26.32% - -4.74px), curve to 4px calc(18.42% - -6.32px) with 6px calc(21.05% - -5.79px), curve to 2px calc(13.16% - -7.37px) with 2px calc(15.79% - -6.84px), curve to 2px calc(7.89% - -8.42px) with 2px calc(10.53% - -7.89px), curve to 1.5px calc(2.63% - -9.47px) with 2px calc(5.26% - -8.95px), curve to 1.96px 6.46px with 1px 10px, curve to 6.46px 4.96px with 2.93px 2.93px);
}

.portfolio-item img {
    border-radius: 1rem;
    border-width: 3px;
    border-color: var(--bg-color-1);
    border-style: solid;
}

.portfolio-item h3 {
    font-size: 1.3rem;
    text-align: center;
    margin: 0.3rem auto;
    justify-content: center;
}

.portfolio-item a {
    text-decoration: none;
    color: var(--dark);
}

.portfolio-item p {
    font-size: 1.1rem;
    text-align: center;
}


/* ~~footer~~``````````````````````` */

footer {
    font-size: 1.4rem;
    padding: 1rem 2rem;
}


footer img {
    display: inline;
    max-width: 2.5rem;
    margin: 0 .5rem;
    transition: all;
}

footer img:hover {
    transform: scale(108%);
}

@media (max-width: 700px) {
    footer p {
        font-size: 1rem;
    }

    footer img {
        max-width: 2rem;
    }
}

@media (max-width: 450px) {
    footer {
        font-size: 0.8rem;
    }

    footer img {
        max-width: 1.5rem;
        margin: 0.1rem;
    }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~ flex styling ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-container-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    align-items: stretch;
}

.flex-item-grid {
    flex: 1 0 18.6rem;
}








/* ~~~~~~~~~ extra page styling ~~~~~~~~~~~ */

.polaroid img {
    border: var(--corner) solid;
    border-image-source:
        radial-gradient(closest-side, transparent 70%, var(--bg) 70%);
    border-image-slice: 49%;
}